[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggle = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
xgboost = "*"
mlflow = "*"
jupyter = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.12"